@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: Rajdhani;
    src: url("../fonte/Rajdhani-Bold.ttf");
}
body, html{
    width: 100%;
    height: 100%;    
  }
body{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 82px;
    width: 100%;
    height: 100%;  
    margin: 0px;
    padding: 0px;
}
@media (min-width: 801px){
    body{
        background-image: url("../imagens/trabalhador-de-servico-de-carro-muscular-reparando-o-veiculo_146671-19605-1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    }
    #imagens{
        position: absolute;
        right: 20%;
        top: 20%;
        max-width: 200px;
        max-height: 200px;
        text-align: center;
        color: white;
        font-size: 36px;
        font-weight: bold;
    }
    #imagens > img{
        position: relative;
        width: 318,29px;
        height: 103,28px;
    }
    #container{
        position: absolute;
        background-color: rgba(13, 21, 71, 0.57);
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0;    
    }
    h1{
        position: absolute;
        width: 318px;
        height: 38px;
        left: 4%;
        top: 28%;
        font-family: Rajdhani;
        font-style: normal;
        font-weight: bold;
        font-size: 62px;
        line-height: 82px;
        color: #FFFFFF;
        }

}
@media  (max-width: 800px) {
    body{
        
        background-image: url("../imagens/trabalhador-de-servico-de-carro-muscular-reparando-o-veiculo_146671-19605 2.png") ;
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
    }
    #imagens{
        text-align: center;
        color: white;
        font-size: 2em;
        font-weight: 600;
        padding-right: 25px;
        margin-top: 100%;
    }
    #imagens > a > img{
        display: inline-block;
        position: relative;
        width: 150px;
        height: 50px;
        left: 2%;
        top: 19%;
    }
    #container{
        position: absolute;
        background-color: rgba(13, 21, 71, 0.57);
        min-height: 100%; 
        min-width: 100%; 
    }
    footer{
        display: none;
    }
    h1{
        position: absolute;
        left: 9%;
        top: 21%;
        font-family: Rajdhani;
        font-style: normal;
        font-weight: bold;
        font-size: 57px;
        line-height: 82px;
        color: #FFFFFF;
    }

    
}

header{
    height: 100px;
    width: 100%;
}
.cabecalho > img{
    position: absolute;
    left: 7%;
    top: 3.98%;
}
footer{
    position: fixed;
    width: 100%;
    height: 0px;
    top: 88%;
    padding-bottom: 0px;
}
#left{
    display: inline-block;
    position: relative;
    bottom: 0%;
    left: 1%;
    top: 89%;
    height: 0px;
    color: #FFFFFF;
}
#right{
    display: inline-block;
    position: absolute;
    bottom: 0%;
    left: 68%;
    top: 89%;
    height: 0px;
    color: #FFFFFF;
}